tarea4/actividad2/centros.dtd

<!-- Esquema DTD para Centros Educativos
Queremos generar una serie de documentos que recojan la información de distintos centros educativos, así como de su profesorado y equipo directivo, de forma que todos tengan una estructura común usando el metalenguaje xml. 

Para ello queremos diseñar la estructura del xml, así como unas reglas para el lenguaje. Los archivos xml deben de tener una estructura común para cada centro y recogerá la siguiente información:

    Centro educativo:
        El elemento raíz se denomina centro, y recoge información sobre el propio centro educativo. Contendrá un atributo denominado cod, obligatorio, con el código del centro (compuesto de una letra mayúsculas C y ocho números). 
        El elemento centro tendrá tres elementos: datos_centro, departamentos y equipo_directivo (y en ese orden).  Datos_centro contendrá los datos del centro educativo (nombre del centro, dirección, localidad, provincia, teléfono e email). 
        Departamentos, contendrá los distintos departamento del centro educativo. 
        Equipo_directivo es opcional y en el caso de aparecer contendrá información de los profesores que componen el equipo directivo del centro.
    Datos_centro:
        El elemento datos_centro, contendrá los siguientes elementos en este orden: nombre_centro, direccion, localidad, provincia, telefono e email. 
        Todos los elementos incluidos serán obligatorios y se mostrarán en ese orden.
    Departamentos:
        El elemento departamentos contendrá todos los departamentos del centro, al menos debe haber un departamento en cada centro.
        Para cada departamento, se almacenará el nombre del departamento (nombre_departamento), así como los miembros que lo componen. Cada departamento estará formado por al menos un profesor.
        Cada profesor: 
            contendrá un código almacenado en forma de atributo, formado por una letra y dos números que será único (no pueden existir más de un profesor en el centro con el mismo código).
            incluirá en forma de elementos y en el siguiente orden:
                el nombre del profesor,
                sus apellidos,
                su dni o nrp (aparecerá obligatóriamente uno de los dos, el dni está formado por 8 números y una letra mayúscula, y el nrp "número de registro personal" está formado por 10 números, una letra que puede ser A o S y después cuatro números),
                y finalmente el email y/o teléfono (hay que tener en cuenta que tanto el email como el teléfono son opcionales y pueden aparecer en cualquier orden, es decir, puede aparecer sólo el email, sólo el teléfono, ambos en cualquier orden, o incluso no aparecer ninguno de ellos).
                opcionalmente puede incluir el elemento vacío jefe_departamento, para indicar que dicho profesor es el jefe del respectivo departamento.
    Equipo_directivo:
        el elemento equipo_directivo es opcional, pero si aparece contendrá al menos un elemento directivo,
        cada elemento directivo tendrá un atributo requerido que indicará el cargo de dicho directivo. Los cargos posibles son "jefe_estudios", "director", "subdirector", "secretario", "jefe_estudios_adjunto".
        Cada elemento directivo incluirá en forma de texto el código de uno de los profesores del centro (no el nombre y apellidos del profesor, sólo el código).-->

<!--elementos que contienen a otros elementos-->
<!--El elemento "equipo_directivo" es opcional y lo indico con el signo "?"-->
<!ELEMENT centro (datos_centro, departamentos, equipo_directivo?)>
    <!--El elemento "datos_centro" contiene los elementos terminales 
    obligatorios con la información básica del centro educativo-->
    <!ELEMENT datos_centro (nombre_centro, direccion, localidad, provincia, telefono, email)>
    <!--El elemento "departamentos" contiene como mínimo un elemento "departamento"
    dada dicha cardinalidad uso el signo "+" en la definición para indicarlo-->
    <!ELEMENT departamentos (departamento+)>
        <!--El elemento "departamento" contiene al elemento "nombre_departamento" y a sus "miembros"-->
        <!ELEMENT departamento (nombre_departamento, miembros)>
            <!--El elemento "miembros" contiene a todos los profesores que son de un departamento
            y como mínimo un departamento tiene un profesor que lo designo en la definición con signo "+"-->
            <!ELEMENT miembros (profesor+)>
                <!--El elemento profesor contiene a los elementos temrinales que definen la información del profesor
                con la peculiaridad de que para identificador es obligatorio poner el dni o nrp del mismo, que denoto 
                en la defición del elemento con el uso del operador disyuntor "|"
                Además su email y teelfono son opcionales y puede aparecer en cualquier orden
                También defino el elemento opcional vacío "jefe_departamento para indicar el profesor que lo es
                y para ello utilizo el signo "?" que indica opcional-->
                <!ELEMENT profesor (nombre, apellidos, (dni|nrp), (email|telefono)?, (email|telefono)?, jefe_departamento?)>
    <!--El elemento "equipo_directivo" contiene a los directivos del centro
    que si aparece el elemento padre debe existir al menos un directivo que 
    indico su cardinalidad con el signo "+"-->
    <!ELEMENT equipo_directivo (directivo+)>

<!--elementos terminales para datos del centro-->
<!ELEMENT nombre_centro (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT provincia (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT email (#PCDATA)>

<!--elementos terminales para departamento-->
<!ELEMENT nombre_departamento (#PCDATA)>

<!--elementos terminales para profesor-->
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT nrp (#PCDATA)>
<!ELEMENT jefe_departamento EMPTY>

<!--elementos terminales para equipo directivo-->
<!ELEMENT directivo (#PCDATA)>

<!--atributos-->
<!--Ćódigo de centro compuesto de una letra mayúsculas C y ocho números
No puedo establecer facetas en un esquema DTD asi que lo defino de tipo ID-->
<!ATTLIST centro cod ID #REQUIRED>
<!--Código de profesor está formado por formado por una letra y dos números
No pued establecer esta faceta al atributo ya que DTD no lo soporta
Entonces he decidido aplicarle el tipo ID a este atributo
Además lo considero requerido porque este codigo es usado paar establecer 
a los directivos del centro-->
<!ATTLIST profesor codProfesor ID #REQUIRED>
<!--Cargo del directivo debe admitir un tipo enumerado siendo los valores
posibles: "jefe_estudios", "director", "subdirector", "secretario", "jefe_estudios_adjunto"-->
<!ATTLIST directivo cargo (jefe_estudios|director|subdirector|secretario|jefe_estudios_adjunto) #REQUIRED>