tarea4/actividad3/centros.xsd

<?xml version="1.0"?>

<!-- XML Schema Centros Educativos:
Queremos generar una serie de documentos que recojan la información de distintos centros educativos, así como de su profesorado y equipo directivo, de forma que todos tengan una estructura común usando el metalenguaje xml. 

Para ello queremos diseñar la estructura del xml, así como unas reglas para el lenguaje. Los archivos xml deben de tener una estructura común para cada centro y recogerá la siguiente información:

    Centro educativo:
        El elemento raíz se denomina centro, y recoge información sobre el propio centro educativo. Contendrá un atributo denominado cod, obligatorio, con el código del centro (compuesto de una letra mayúsculas C y ocho números). 
        El elemento centro tendrá tres elementos: datos_centro, departamentos y equipo_directivo (y en ese orden).  Datos_centro contendrá los datos del centro educativo (nombre del centro, dirección, localidad, provincia, teléfono e email). 
        Departamentos, contendrá los distintos departamento del centro educativo. 
        Equipo_directivo es opcional y en el caso de aparecer contendrá información de los profesores que componen el equipo directivo del centro.
    Datos_centro:
        El elemento datos_centro, contendrá los siguientes elementos en este orden: nombre_centro, direccion, localidad, provincia, telefono e email. 
        Todos los elementos incluidos serán obligatorios y se mostrarán en ese orden.
    Departamentos:
        El elemento departamentos contendrá todos los departamentos del centro, al menos debe haber un departamento en cada centro.
        Para cada departamento, se almacenará el nombre del departamento (nombre_departamento), así como los miembros que lo componen. Cada departamento estará formado por al menos un profesor.
        Cada profesor: 
            contendrá un código almacenado en forma de atributo, formado por una letra y dos números que será único (no pueden existir más de un profesor en el centro con el mismo código).
            incluirá en forma de elementos y en el siguiente orden:
                el nombre del profesor,
                sus apellidos,
                su dni o nrp (aparecerá obligatóriamente uno de los dos, el dni está formado por 8 números y una letra mayúscula, y el nrp "número de registro personal" está formado por 10 números, una letra que puede ser A o S y después cuatro números),
                y finalmente el email y/o teléfono (hay que tener en cuenta que tanto el email como el teléfono son opcionales y pueden aparecer en cualquier orden, es decir, puede aparecer sólo el email, sólo el teléfono, ambos en cualquier orden, o incluso no aparecer ninguno de ellos).
                opcionalmente puede incluir el elemento vacío jefe_departamento, para indicar que dicho profesor es el jefe del respectivo departamento.
    Equipo_directivo:
        el elemento equipo_directivo es opcional, pero si aparece contendrá al menos un elemento directivo,
        cada elemento directivo tendrá un atributo requerido que indicará el cargo de dicho directivo. Los cargos posibles son "jefe_estudios", "director", "subdirector", "secretario", "jefe_estudios_adjunto".
        Cada elemento directivo incluirá en forma de texto el código de uno de los profesores del centro (no el nombre y apellidos del profesor, sólo el código).
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
   
    <!--tipos de datos simples definidos por el usuario-->
    <!--A) Tipo simple para establecer el formato del DNI
    Compuestto: 8 números y una letra mayúscula
    Longitud total: 9 carácteres-->
    <xs:simpleType name="formato_dni">
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
            <xs:pattern value="\d{8}[A-HJ-NP-TV-Z]"/>
        </xs:restriction>        
    </xs:simpleType>
    <!--B) Tipo para establecer el formato del NRP (Número de Registro de Personal)
    Compuesto: Una letra (la consdeiro mayúscula aunque no dice nada) y 2 números
    Logitud total: 3 caracteres.-->
    <xs:simpleType name="formato_nrp">
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
            <xs:pattern value="\d{10}[AS]\d{4}"/>
        </xs:restriction>        
    </xs:simpleType>    
    <!--C) Tipo para establecer el formato del código de centro
    Compuesto: Letra C seguida de 8 números
    Longitud total: 9 caracteres-->
    <xs:simpleType name="formato_codCentro">
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
            <xs:pattern value="[C]\d{8}"/>
        </xs:restriction>        
    </xs:simpleType>    
    <!--D) Tipo para establecer el formato del código de profesor
    Compuesto: Una letra (la consdeiro mayúscula aunque no dice nada) y 2 números
    Logitud total: 3 caracteres.-->
    <xs:simpleType name="formato_codProfesor">
        <xs:restriction base="xs:ID">
            <xs:length value="3"/>
             <xs:pattern value="[A-Z]\d{2}"/>
        </xs:restriction>        
    </xs:simpleType>
    <!--E) Tipoe para establecer el formato de un número de telefono-->
    <xs:simpleType name="formato_telefono">
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <!--F) Tipo para establecer un elemento vacío-->
    <xs:simpleType name="tipo_vacio">
        <xs:restriction base="xs:string">
            <xs:length value="0"/>
        </xs:restriction>        
    </xs:simpleType>
    <!--G) Tipo para establecer el enumerado de los cargos directivos-->
    <xs:simpleType name="tipo_enum_cargos">
        <xs:restriction base="xs:string">
            <xs:enumeration value="director"/>
            <xs:enumeration value="subdirector"/>
            <xs:enumeration value="jefe_estudios"/>
            <xs:enumeration value="jefe_estudios_adjunto"/>
            <xs:enumeration value="secretario"/>
        </xs:restriction>
    </xs:simpleType>

    <!--tipos de datos complejos definidos por el usuario-->
    <xs:complexType name="tipo_datosCentro">
        <xs:sequence>
            <xs:element ref="nombre_centro"/>
            <xs:element ref="direccion"/>
            <xs:element ref="localidad"/>
            <xs:element ref="provincia"/>
            <xs:element ref="telefono"/>
            <xs:element ref="email"/>
        </xs:sequence>
    </xs:complexType>
    
    <!--atributos de los elementos-->
    <xs:attribute name="cargo" type="tipo_enum_cargos"/>
    <xs:attribute name="cod" type="formato_codCentro"/>
    <xs:attribute name="codProfesor" type="formato_codProfesor"/>
    
    <!--elementos simples-->
    <!--A) Aqueellos que son comunes a varios elementos-->
    <xs:element name="nombre" type="xs:string"/>
    <xs:element name="email" type="xs:string"/>
    <xs:element name="telefono" type="formato_telefono"/>    
    <!--B) Aquellos que son especificos de los datos del centro-->
    <xs:element name="nombre_centro" type="xs:string"/>
    <xs:element name="direccion" type="xs:string"/>
    <xs:element name="localidad" type="xs:string"/>
    <xs:element name="provincia" type="xs:string"/>
    <!--C) Aquellos que son especificos de los datos de los profesores
    Aquí haggo uso de los tipos simples definidos previamente para DNI y NRP que
    cumplen con las facetas definidas en el enunciado del ejercicio-->
    <xs:element name="apellidos" type="xs:string"/>
    <xs:element name="dni" type="formato_dni"/>
    <xs:element name="nrp" type="formato_nrp"/>
    <xs:element name="jefe_departamento" type="tipo_vacio"/>
    <!--D) Aquellos que son específicos de los datos de un departamento-->
    <xs:element name="nombre_departamento" type="xs:string"/>
    <!--E) Aquellos que son específicos de un directivo del centro-->
    <xs:element name="directivo">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:IDREF">
                    <xs:attribute ref="cargo" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <!--D) Defino el elemento que contiene los datos del centro-->
    <xs:element name="datos_centro" type="tipo_datosCentro"/>

    <!--elementos complejo-->
    <!--aquellos que son componente de departamentos-->
    <!--A) Defino el elemento profesor que es componente de los miembros de un departamento-->
    <xs:element name="profesor">
        <xs:complexType>
            <!--Primero defino los elementos que compnen al elemento complejo-->
            <xs:sequence>
                <!--Aquí defino los elementos terminales que son obligatorios-->
                <xs:element ref="nombre"/>
                <xs:element ref="apellidos"/>
                <!--Dentro de la secuencia de elemento permito elegir entre el DNI o NRP para identificar al profesor-->
                <xs:choice>
                    <xs:element ref="dni"/>
                    <xs:element ref="nrp"/>
                </xs:choice>
                <!--Aquí defino los elementos terminales que son opcionles-->
                <xs:element ref="email" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="telefono" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="jefe_departamento" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <!--Segundo defino los atributos que componen al elemento complejo-->
            <xs:attribute ref="codProfesor"/>
        </xs:complexType>
    </xs:element>
    <!--B) Defino a los miembros que serán componente de un departamento-->
    <xs:element name="miembros">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="profesor" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!--C) Defino el elemento que contiene la informacion de un departamento concreto del centro-->
    <xs:element name="departamento">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nombre_departamento"/>
                <xs:element ref="miembros"/>
            </xs:sequence>
        </xs:complexType>        
    </xs:element>
    <!--aquellos que son componentes de centro-->
    <!--A) Defino el elemento que contiene los departamentos del centro-->
    <xs:element name="departamentos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="departamento" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!--B) Defino el elemento opcional con la información del equipo directivo del centro-->
    <xs:element name="equipo_directivo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="directivo" maxOccurs="5"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>      
    <!--aquel que constituye el raíz del documento XML-->
    <xs:element name="centro">
        <xs:complexType>
            <!--Primero establezco se los elementos que componente-->
            <xs:sequence>
                <!--Primero establezo todos los elementos que son obligatorios-->
                <xs:element ref="datos_centro"/>
                <xs:element ref="departamentos"/>
                <!--Segundo establezco todos los elementos que son opcionales-->
                <xs:element ref="equipo_directivo" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <!--Segundo establezco todos sus atributos-->
            <xs:attribute ref="cod"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
